// qrreader styles
#qrreader-background
    position absolute
    top 0
    left 0
    z-index:  299
    height 100%
    width 100%
    transform: translateY(-102%)
    background-color element-background
    display flex
    align-items: center

    video
        width 100vw
        height 100vw
        object-fit: cover


#qrreader-background.active
    transform: translateY(0)


